@import url(https://fonts.googleapis.com/css?family=Open+San);

*{ 
    font-family: "Open Sans";
    margin: 0px;
}
body{
    background: url("img/gradient2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
}

/*********** profile section ***********/
#profile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 350px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.14);
}

#name{
    font-size: 44px;
    color: #FFF7F8;
    font-weight: 570;
    text-align: center;
}

#profile-pic{
    width: 250px;
    height: 250px;
}

#navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#navigation li {
    display: block;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    margin: 10px 0;
}

#navigation a:link, :visited {
    color: #FFF7F8;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 3px solid #FFF7F8;
    display: inline-block;
    margin-bottom: -3px;
}

#onpage {
    border-bottom: 3px solid #FFF7F8;
}

#socials{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

#socials li {
    display: inline-block;
    margin: 0 10px;
}

.icon {
    height: 35px;
    width: 35px;
}


@media (max-width: 800px) {
    #profile {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}

/*********** content section ***********/
#content {
    padding: 30px 30px 30px 380px;
}

@media (max-width: 800px) {
    #content{
        padding: 30px 10px;
    }
}


/*********** content section ***********/
#progress{
    background:rgba(162, 178, 213, 0.6);
    height: 100%;
    width: 3px;
    position: fixed;
    right: 50px;
    top: 0px;
}

@media (max-width: 800px) {
    #progress{
        display: none;
    }
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgba(162, 178, 213, 0.6);
    border-radius: 50%;
    display: block;
}

.dot-onpage {
    height: 25px;
    width: 25px;
    border: 3px solid rgba(162, 178, 213, 0.6);
    border-radius: 50%;
    display: block;
}




/* old */


.table {
    padding: 30px;
    position:absolute;
    top:80px;
    margin-left: 2vw;
    width: 96vw;
    height: 82vh;
}

.cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.empty {
    width: 8vw;
}

.about-text {
    display: block;
    padding-bottom: 20px;
}

.about-heading {
    font-size: 44px;
    margin-bottom: 20px;
    color: #ffeff2;
}

.about-paragraph {
    font-size: 18px;
    padding-bottom: 20px;
    color: #ffeff2;
}

/* @media screen and (max-width: 420px) {
    #title {
        font-size: 48px;
        float: none;
    }

    ul {
        margin-top: 50px;
        text-align: center;
    }

    li {
        font-size: 20px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .about-heading {
        font-size: 36px;
    }

    .about-paragraph {
        font-size: 14px;
    }

} */