@import "compass/css3";

*{ 
    font-family: 'OpenSans', sans-serif;
    margin: 0px;
}
body{
    background: url("img/gradient2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
}

/*********** profile section ***********/
#profile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 350px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.14);
}

#name{
    font-size: 36px;
    color: #FFF7F8;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

#profile-pic{
    width: 250px;
    height: 250px;
    margin: 10px 0;
}

#navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#navigation li {
    display: block;
    font-size: 26px;
    font-weight: 550;
    letter-spacing: 1px;
    border-bottom: 5px solid transparent;
    margin: 10px 0;
}

#navigation a:link, :visited {
    color: #FFF7F8;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 3px solid #FFF7F8;
    display: inline-block;
    margin-bottom: -3px;
}

.onpage {
    border-bottom: 3px solid #FFF7F8;
}

#socials{
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    text-align: center;
    /* padding-bottom: 50px; */
}

#socials li {
    display: inline-block;
    margin: 0 10px;
}

.icon {
    height: 35px;
    width: 35px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    background-image: url(img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-height: 740px) {
    #profile-pic{
        width: 230px;
        height: 230px;
    }
    #socials{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }   
    .icon{
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 801px) {
    .arrow {
        /* display:none; */
    }
}
@media (max-width: 800px) {
    #profile {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    #navigation {
        margin: 10px 0;
    }

    #navigation li {
        font-size: 24px;
    }

    .arrow{
        margin-bottom: 30px;
    }
}

/*********** content section ***********/
#content {
    padding: 30px 30px 30px 380px;
}

#content > * {
    text-align: left;
    margin-bottom: 80px;
}

@media (max-width: 800px) {
    #content{
        padding: 30px 10px;
    }
}


/*********** progress section ***********/
#progress{
    height: 100%;
    width: 2px;
    position: fixed;
    right: 40px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 800px) {
    #progress, #progress *{
        display: none;
    }
}

.dot {
    height: 18px;
    width: 18px;
    /* background-color: rgba(162, 178, 213, 1); */
    background-color: rgba(255, 247, 248, 1);
    border-radius: 50%;
}

.dot-onpage {
    height: 15px;
    width: 15px;
    /* border: 2px solid rgba(162, 178, 213, 1); */
    border: 2px solid rgba(255, 247, 248, 1);
    border-radius: 50%;
}

.spacer {
    height: 33vh;
    /* background-image: radial-gradient(circle at 2.5px,rgba(162, 178, 213, 1) 1.25px, rgba(255,255,255,0) 2.5px);
    background-position: center;
    background-size: 5px 15px;
    background-repeat: repeat-y;
    width: 4px; */
    /* background:rgba(162, 178, 213, 1); */
    background-color: rgba(255, 247, 248, 1);
    width: 2px;
}