*{ 
    font-family: "Open Sans";
    margin: 0px;
}
body{
    background: url("img/gradient2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{ 
    height: 100px;
    width: 100%;
}

#title{
    font-size: 48px;
    padding-left: 20px;
    color: #ffeff2;
    font-weight: 570;
    float: left;
}

.links {
    margin-left: auto;
    padding-top: 15px;
    padding-right: 15px;
}

.icon {
    height: 20px;
    width: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

li {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    float: none;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 5px solid transparent;
}

a:link, :visited {
    color: #6c7f9c;
    /* color: #8aa4cc; */
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid #6c7f9c;
    display: inline-block;
    margin-bottom: -3px;
}

#onpage {
    border-bottom: 3px solid #6c7f9c;
}

.table {
    padding: 30px;
    position:absolute;
    top:80px;
    margin-left: 2vw;
    width: 96vw;
    height: 82vh;
}

.cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.empty {
    width: 8vw;
}

.about-text {
    display: block;
    padding-bottom: 20px;
}

.about-heading {
    font-size: 44px;
    margin-bottom: 20px;
    color: #ffeff2;
}

.about-paragraph {
    font-size: 18px;
    padding-bottom: 20px;
    color: #ffeff2;
}

.pic-background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 33vw;
    /* vertical-align: middle; */
    /* display: inline-block; */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .6);
}

.my-pic {
    /* vertical-align: middle; */
    /* display: inline-block; */
    width:28vw;
    height: 28vw;
    border-radius: 50%;
}

@media screen and (max-width: 420px) {
    #title {
        font-size: 48px;
        float: center;
    }

    ul {
        margin-top: 50px;
        text-align: center;
    }

    li {
        font-size: 20px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .about-heading {
        font-size: 36px;
    }

    .about-paragraph {
        font-size: 14px;
    }

}